<!DOCTYPE html>
<html lang="pl" ng-app="bboost">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#333333">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/59ea93251c.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.2.6/sweetalert2.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Lato|Montserrat|Oswald|Roboto|Rubik" rel="stylesheet">
</head>
<body ng-controller="teamplatesCtrl as bboost" ng-model="template">
<div class="side-nav-menu" role="navigation">
    <div class="company-logo">
        <img id="side-nav-company-logo" src="img/logo.png" alt="bboost.eu elo boosting company logo">
    </div>


    <div class="webpage-navigation" >

        <button class="webpage-nav-button" ng-click="template=templates[0]">Home</button>
        <button class="webpage-nav-button boosting-link" ng-click="template=templates[1]">Boosting</button>
        <button class="webpage-nav-button" ng-click="template=templates[4]">FAQ</button>
        <button class="webpage-nav-button" ng-click="template=templates[6]">Contact</button>
        <button class="webpage-nav-button" ng-click="template=templates[7]">About Us</button>
    </div>
    <div class="col-xs-12 social">
        <div class="col-xs-4 social-button">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="col-xs-4 social-button">
            <i class="fa fa-skype" aria-hidden="true"></i>
        </div>
        <div class="col-xs-4 social-button">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
    </div>

</div>
<div class="main-content">
    <div class="home"  ng-include="template.url"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/sweetalert2/4.2.6/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/main.js"></script>


</body>
</html>
